{% block movie_li %}

{% for movie in movie_list %}
    <div class="poster col-md-3 col-sm-4 col-xs-6">
      <img class="img-poster" src="{{ movie.poster }}" alt="{{ movie.title }}">
      <a class="frame" href="#" title="{{ movie.title }}">
        <span class="frame-title">{{ movie.title }}</span>
        <span class="overlay"></span>
      </a>
      <div class="raty text-center" data-score="{{ movie.other_rating }}"></div>
      <div class="film-stats">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
            <span class="badge">{{ movie.main_value }}</span>
            <a href="{% url 'movie:movie_search' movie.main_key %}">
              {{ movie.main_key }}
            </a>
          </li>
          {% for freq in movie.tags reversed %}
            <li class="list-group-item">
              <span class="badge">{{ freq.value }}</span>
              <a href="{% url 'movie:movie_search' freq.key %}">
                {{ freq.key }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endfor %}

{% endblock %}
