{% block movie_li %}

<div class="poster col-lg-2 col-md-3 col-xs-3">
  <img class="img-responsive" src="{{ movie.poster_big }}" alt="{{ movie.title }}">
  <a class="frame" href="#" title="{{ movie.title }}">
    <span class="frame-title">{{ movie.title }}</span>
    <span class="overlay"></span>
  </a>
  <div class="film-stats">
    <ul class="list-group">
      {% for freq in movie.top_freqs reversed %}
        <li class="list-group-item">
          <span class="badge">{{ freq.freq }}</span>
          {{ freq.tag }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
